.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
}

.App-link {
  color: #61dafb;
}

.container {
  height: calc(100vh - 50px);
}

h1 {
  text-align: center;
  margin: 0 0 1rem 0;
}
