body {
  background-color: #fbfbfb;
}
.App {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
}

.App-link {
  color: #61dafb;
}

.container {
  height: calc(100vh - 50px);
}
