body {
  background-color: #fbfbfb;
}
.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
}

.App-link {
  color: #61dafb;
}

.container {
  height: calc(100vh - 50px);
}

h1,
h2 {
  font-size: 32px;
  text-align: center;
  margin: 0 0 1rem 0;
}
.redirect-link {
  text-decoration: none;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-img:hover {
  transform: scale(1.1);
}
